body {
  background-image: url(https://www.shutterstock.com/shutterstock/photos/2210996053/display_1500/stock-vector-abstract-purple-wave-background-dynamic-shapes-composition-vector-illustration-2210996053.jpg);
  /* text-align: center; */
}
.whole {
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin: auto; */
  /* position: relative; */
}
.main {
  background-color: wheat;
  background-repeat: no-repeat;
  /* height: auto; */
  /* margin-left: auto;
  margin-top: auto; */
  width: 70%;
  /* text-align: center;
  position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(25%, 75%); */

  /* margin: auto; */
  border-radius: 20px;
}

/* .main {
  background-color: wheat;
/* top: 10%; */
/* margin-top: -2; Half of the height */
/* left: 70%; */
/* width: 60%; */
/* margin-left: -400px; Half of the width */

/* padding: 10px; */

h1 {
  color: blueviolet;
  text-align: center;
}
p {
  text-align: center;
}

.form {
  text-align: center;
}

.fname {
  width: 50%;
  float: left;
}

.lname {
  width: 50%;
  float: right;
}

.email {
  width: 50%;
  float: left;
}
.number {
  width: 50%;
  float: right;
}

.pass {
  width: 50%;
  float: left;
}

.cpass {
  width: 50%;
  float: right;
}
