* {
  margin: 0px;
  padding: 0px;
}

.whole {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  /* background-color: #00ffff; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: white;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 40px;
  width: 650px;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 25px;
  padding-top: 20px;
}

.title {
  text-align: center;
}

.user-details {
  text-align: left;
}

.form-label {
  margin-bottom: 10px !important;
}

.form-fields {
  height: 40px;
  width: 100%;
  margin-top: 10px;
  padding-left: 10px;
}

.btn-class {
  text-align: center;
  margin: 10px;
}

.submit-class {
  height: 50px;
  width: 250px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  margin-top: 15px;
}
